* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #ffffff;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  background: #ff5500;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

nav {
  display: inline-block;
  position: relative;
}
.navigation menu li a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
  color: #fcfcfc;
  text-align: center;
  transition: 0.3s;
  padding: 5px;
}

body>header>nav>div>menu li {
  display: inline-block;
  padding-right: 1rem;
  list-style-type: none;
}




body>header>nav>div>menu li a:hover {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
  color: #000000;
  transition: 0.3s;

}

body>header>section>menu {
  margin-right: 10px;

}

body>header>section>menu li {
  display: inline-block;
  padding-right: 5px;

}
body>header>section>menu li a:hover {
  color: #ff0000;
  background: #000000;
  border-radius: 5px;
  transition-delay: 0.3s;
}

@media screen and (max-width: 768px) {
 
  .burger-button {
    display: block; 
    background: #ff5500;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .burger-button .bar {
    width: 30px;
    height: 3px;
    background: #fcfcfc;
    margin: 6px 0;
    transition: 0.3s;
  }

  nav {
    display: none;
  }

  .burger-button.active + nav {
    display: block;
  }

  .burger-button.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .burger-button.active .bar:nth-child(2) {
    opacity: 1;
  }

  .burger-button.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}


body>main>section>section>hgroup>h3 {
  color: #fff;

}




body>main>section>section>hgroup>h1:first-child {
  color: #fff;
  font-size: 5rem;

}

body>main>section>section>hgroup>h1:nth-child(2) {
  position: relative;
  color: #fff;
  font-size: 3rem;

}

body>main>section>section>hgroup>h3 {
  position: relative;
  color: #fff;
  font-size: 1.5rem;

}

body>main>section>section>hgroup>h3>span {
  color: #ffff00ea;

}

body>main>section>section>hgroup {
  position: relative;
  display: inline-block;
  margin-top: 15vh;
  margin-left: 5vw;
  font-size: 2rem;
  border: #ff5500 solid 2px;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 30vh;
  border-radius: 20px;
  padding-right: 10vw;
}

body>main>section>section>img {
  position: absolute;
  height: 90vh;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-left: 5vw;

  background: circle-gradient(to right, transparent, #fffefe, transparent);
}


body>main>section:nth-child(1)>section {
  position: relative;
  height: 100vh;
  background: #000000;
  animation: bounce;
}

body>main>section:nth-child(2)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;

}

body>main>section:nth-child(2) {
  height: 100vh;
}

body>main>section:nth-child(2)>section {
  display: inline-block;
  position: relative;
}

body>main>section:nth-child(2)>section>div>img {
  position: relative;
  display: inline;

  height: 40vh;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;
  margin-left: 20vw;
  margin-top: 10vh;

}

body>main>section:nth-child(2)>section>blockquote>p {
  display: inline-block;
  position: relative;
  width: 200px;
  text-align: justify;
  border: #fff;
  padding: 5%;
  margin-left: 0;
  margin-top: 0;
  /*  */
}

.services {
  margin-left: 100px;
  margin-right: 100px;
}

.services h2 {
  margin: 0px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #ff5500;
}

.services-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap; 
  gap: 5rem;
}

.services-container .services-box {
  flex: 1 1 calc(33.333% - 5rem); 
  background: rgb(237, 9, 9);
  padding: 4rem 2rem; 
  border-radius: 4rem;
  text-align: center;
  transition: .7s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

.services-container .services-box:hover {
  border-color: #DAC0A3;
  transform: scale(1.1);
}

.services-box i {
  font-size: 5rem;
  color: #DAC0A3;
}

.services-box h3 {
  font-size: 3.5rem;
  text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.services-box p {
  font-size: 2.3rem;
  margin: 1rem 0 3rem;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .services {
    margin-left: 20px;
    margin-right: 20px;
  }

  .services h2 {
    margin-top: 3rem;
    margin-bottom: 10rem;
  }

  .services-container {
    gap: 3rem;
  }

  .services-container .services-box {
    flex: 1 1 calc(50% - 3rem);
    padding: 2rem 1rem;
  }

  .services-box i {
    font-size: 4rem;
  }

  .services-box h3 {
    font-size: 2.5rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  }

  .services-box p {
    font-size: 2rem;
    margin: 0.5rem 0 2rem;
  }
}

/* Style the assignment section */
.assignment {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #000000;
  padding: 50px 0;
  text-align: center;
}

.assignment .heading {
  font-size: 2rem;
  margin-bottom: 30px;
  position: relative;
}

.assignment .heading span {
  color: #ff5500;
}

.assignment-container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.assignment-box {
  background-color: #ff5500;
  border: 1px solid #ff5500;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 40px);
  transition: transform 0.3s ease-in-out;
}

.assignment-box:hover {
  transform: scale(1.05);
}

.assignment-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.assignment-layer {
  margin-top: 20px;
}

.assignment-layer h4 {
  font-size: 1.5rem;
}

.assignment-layer a {
  display: block;
  margin-top: 10px;
  color: #ff5500; 
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.assignment-layer a:hover {
  color: #ff3300;
}


.assignment-layer a i {
  margin-left: 5px;
  font-size: 1rem;
}


@media screen and (min-width: 200px) and (max-width: 768px) {
  .assignment-container {
    flex-direction: column; 
  }

  .assignment-box {
    width: 100%; 
    margin-bottom: 20px; 
  }
}

@media screen and (min-width: 768) and (max-width: 1440px) {

  .assignment{
    margin-left:100px ;
    margin-right: 100px;
  }

  .assignment-container {
    flex-direction: column; 
  }

  .assignment-box {
    width: 100%; 
    margin-bottom: 20px; 
  }
}




#projects {
  text-align: center;
}

#projects h1 {
  padding: 2.5vh;
  margin-bottom: 10vh;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
}

#projects>section {
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects>section>div {
  margin: 20px;
}

#projects>section>div>a {
  text-decoration: none;
  color: #ffffff;
}

#projects>img:first-child {
  width: 10px;
}

#projects>section>div>a>img {
  max-height: 500px;
}

#projects>section>div>a>p {
  margin-top: 10px;
  font-weight: bold;
}

#projects>section>div>a:hover {
  margin-top: 10px;

}

#projects>img {
  max-width: 100px;
  border: #ff5500 solid 5px;
  border-radius: 80px;
}

body>main>section:nth-child(4)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 50px;

}

.skills>section>div>img {
  display: inline-block;
}

body>main>section:nth-child(5)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 5vh;

}


.Gallery {
  text-align: center;

}

.Gallery h1 {
  padding: 2.5vh;
  background: #ff5500;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 10vh;
}


.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.big {
  grid-column: span 2;
}

.grid-item.small {
  grid-column: span 1;
}

.Gallery img {

  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

#contact {
  background-color: #333;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#contact menu {
  list-style: none;
  padding: 0;
}

#contact menu li {
  display: inline;
  margin-right: 10px;
}

#contact menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

#contact menu li a:hover {
  color: #ff5500;
}


#contact button {
  background-color: #ff5500;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

#contact button:hover {
  background-color: #ff3300;
}


#contact a[href^="mailto"] {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

#contact a[href^="mailto"]:hover {
  color: #ff5500;
}


#contact form {
  text-align: center;
  margin-top: 20px;
}

#contact fieldset {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#contact legend {
  font-size: 24px;
  font-weight: bold;
}

#contact label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#contact input[type="submit"] {
  background-color: #ff5500;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

#contact input[type="submit"]:hover {
  background-color: #ff3300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: #f0886d;
}


.contact-form label {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff5500;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form input[type="submit"] {
  background-color: #ff5500;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff3300;

}
legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


input[type="submit"] {
  background-color: #ff5500;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: red;
}


input:invalid,
textarea:invalid {
  border: 2px solid red;
}


input[type="tel"]::after {
  content: "Format: +94123456789";
  display: block;
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}


footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;

}


@keyframes liftupdown {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }

}























/*media queries*/



@media all and (max-width: 320px) {
  body>header>nav>div>menu li {
    padding-right: 0.5rem;
  }

  body>header>nav>div>menu li a {
    font-size: 0.9rem;
  }

  body>main>section>section>h1:first-child {
    font-size: 3rem;
  }

  body>main>section>section>h1:nth-child(2) {
    font-size: 2rem;
  }

  body>main>section>section>hgroup {
    font-size: 1.5rem;
    padding-left: 2vh;
    padding-right: 5vw;
  }

  body>main>section>section>img {
    height: 80vh;
  }

  body>main>section:nth-child(2)>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body>main>section:nth-child(2)>section>div>img {
    margin: 100px auto;
  }

  body>main>section:nth-child(2)>section>blockquote>p {
    width: 80%;
    margin: 0 auto;
  }

  body>main>section:nth-child(3)>h1,
  body>main>section:nth-child(4)>h1,
  body>main>section:nth-child(5)>h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .Gallery>div>img,
  .Gallery>aside>div>img {
    width: 90%;
  }

  /* Section 4 styles */
  body>main>section:nth-child(5)>h1 {
    padding: 2.5vh;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff5500;
    height: 10vh;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 5vh;
  }

  /* Gallery styles */
  .Gallery {
    text-align: center;
  }

  .Gallery h1 {
    padding: 2.5vh;
    background: #ff5500;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item.big {
    grid-column: span 2;
  }

  .grid-item.small {
    grid-column: span 1;
  }

  .Gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Contact section styles */
  #contact {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact menu {
    list-style: none;
    padding: 0;
  }

  #contact menu li {
    display: inline;
    margin-right: 10px;
  }

  #contact menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact menu li a:hover {
    color: #ff5500;
  }

  #contact button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  #contact button:hover {
    background-color: #ff3300;
  }

  #contact a[href^="mailto"] {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact a[href^="mailto"]:hover {
    color: #ff5500;
  }

  /* Styling for the contact form */
  #contact form {
    text-align: center;
    margin-top: 20px;
  }

  #contact fieldset {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #contact legend {
    font-size: 24px;
    font-weight: bold;
  }

  #contact label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #contact input[type="submit"] {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  #contact input[type="submit"]:hover {
    background-color: #ff3300;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    font-size: 16px;
  }

  .contact-form input[type="submit"] {
    background-color: #ff5500;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #ff3300;
  }


  footer {
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
}

























@media all and (min-width: 320px) and (max-width: 375px) {
  body>header>nav>div>menu li {
    padding-right: 0.5rem;
  }

  body>header>nav>div>menu li a {
    font-size: 0.9rem;
  }

  body>main>section>section>h1:first-child {
    font-size: 3rem;
  }

  body>main>section>section>h1:nth-child(2) {
    font-size: 2rem;
  }

  body>main>section>section>hgroup {
    font-size: 1.5rem;
    padding-left: 2vh;
    padding-right: 5vw;
  }

  body>main>section>section>img {
    height: 80vh;
  }

  body>main>section:nth-child(2)>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body>main>section:nth-child(2)>section>div>img {
    margin: 100px auto;
  }

  body>main>section:nth-child(2)>section>blockquote>p {
    width: 80%;
    margin: 0 auto;
  }

  body>main>section:nth-child(3)>h1,
  body>main>section:nth-child(4)>h1,
  body>main>section:nth-child(5)>h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .Gallery>div>img,
  .Gallery>aside>div>img {
    width: 90%;
  }

  /* Section 4 styles */
  body>main>section:nth-child(5)>h1 {
    padding: 2.5vh;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff5500;
    height: 10vh;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 5vh;
  }


  .Gallery {
    text-align: center;
  }

  .Gallery h1 {
    padding: 2.5vh;
    background: #ff5500;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item.big {
    grid-column: span 2;
  }

  .grid-item.small {
    grid-column: span 1;
  }

  .Gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Contact section styles */
  #contact {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact menu {
    list-style: none;
    padding: 0;
  }

  #contact menu li {
    display: inline;
    margin-right: 10px;
  }

  #contact menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact menu li a:hover {
    color: #ff5500;
  }

  #contact button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  #contact button:hover {
    background-color: #ff3300;
  }

  #contact a[href^="mailto"] {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact a[href^="mailto"]:hover {
    color: #ff5500;
  }

  /* Styling for the contact form */
  #contact form {
    text-align: center;
    margin-top: 20px;
  }

  #contact fieldset {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #contact legend {
    font-size: 24px;
    font-weight: bold;
  }

  #contact label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #contact input[type="submit"] {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  #contact input[type="submit"]:hover {
    background-color: #ff3300;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    font-size: 16px;
  }

  .contact-form input[type="submit"] {
    background-color: #ff5500;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #ff3300;
  }

  /* Footer styles */
  footer {
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
  }

}
























@media all and (min-width: 375px) and (max-width: 425px) {

  body>header>nav>div>menu li {
    padding-right: 0.5rem;
  }

  body>header>nav>div>menu li a {
    font-size: 0.9rem;
  }

  body>main>section>section>h1:first-child {
    font-size: 3rem;
  }

  body>main>section>section>h1:nth-child(2) {
    font-size: 2rem;
  }

  body>main>section>section>hgroup {
    font-size: 1.5rem;
    padding-left: 2vh;
    padding-right: 5vw;
  }

  body>main>section>section>img {
    height: 80vh;
  }

  body>main>section:nth-child(2)>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body>main>section:nth-child(2)>section>div>img {
    margin: 100px auto;
  }

  body>main>section:nth-child(2)>section>blockquote>p {
    width: 80%;
    margin: 0 auto;
  }

  body>main>section:nth-child(3)>h1,
  body>main>section:nth-child(4)>h1,
  body>main>section:nth-child(5)>h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .Gallery>div>img,
  .Gallery>aside>div>img {
    width: 90%;
  }

  /* Section 4 styles */
  body>main>section:nth-child(5)>h1 {
    padding: 2.5vh;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff5500;
    height: 10vh;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 5vh;
  }


  .Gallery {
    text-align: center;
  }

  .Gallery h1 {
    padding: 2.5vh;
    background: #ff5500;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item.big {
    grid-column: span 2;
  }

  .grid-item.small {
    grid-column: span 1;
  }

  .Gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Contact section styles */
  #contact {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact menu {
    list-style: none;
    padding: 0;
  }

  #contact menu li {
    display: inline;
    margin-right: 10px;
  }

  #contact menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact menu li a:hover {
    color: #ff5500;
  }

  #contact button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  #contact button:hover {
    background-color: #ff3300;
  }

  #contact a[href^="mailto"] {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact a[href^="mailto"]:hover {
    color: #ff5500;
  }

  /* Styling for the contact form */
  #contact form {
    text-align: center;
    margin-top: 20px;
  }

  #contact fieldset {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #contact legend {
    font-size: 24px;
    font-weight: bold;
  }

  #contact label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #contact input[type="submit"] {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  #contact input[type="submit"]:hover {
    background-color: #ff3300;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    font-size: 16px;
  }

  .contact-form input[type="submit"] {
    background-color: #ff5500;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #ff3300;
  }

  /* Footer styles */
  footer {
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
}


































@media all and (min-width: 425px) and (max-width: 730px) {

  body>header>nav>div>menu li {
    padding-right: 0.5rem;
  }

  body>header>nav>div>menu li a {
    font-size: 0.9rem;
  }

  body>main>section>section>h1:first-child {
    font-size: 3rem;
  }

  body>main>section>section>h1:nth-child(2) {
    font-size: 2rem;
  }

  body>main>section>section>hgroup {
    font-size: 1.5rem;
    padding-left: 2vh;
    padding-right: 5vw;
  }

  body>main>section>section>img {
    height: 80vh;
  }

  body>main>section:nth-child(2)>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body>main>section:nth-child(2)>section>div>img {
    margin: 100px auto;
  }

  body>main>section:nth-child(2)>section>blockquote>p {
    width: 80%;
    margin: 0 auto;
  }

  body>main>section:nth-child(3)>h1,
  body>main>section:nth-child(4)>h1,
  body>main>section:nth-child(5)>h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .Gallery>div>img,
  .Gallery>aside>div>img {
    width: 90%;
  }

  /* Section 4 styles */
  body>main>section:nth-child(5)>h1 {
    padding: 2.5vh;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff5500;
    height: 10vh;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 5vh;
  }


  .Gallery {
    text-align: center;
  }

  .Gallery h1 {
    padding: 2.5vh;
    background: #ff5500;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item.big {
    grid-column: span 2;
  }

  .grid-item.small {
    grid-column: span 1;
  }

  .Gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Contact section styles */
  #contact {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact menu {
    list-style: none;
    padding: 0;
  }

  #contact menu li {
    display: inline;
    margin-right: 10px;
  }

  #contact menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact menu li a:hover {
    color: #ff5500;
  }

  #contact button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  #contact button:hover {
    background-color: #ff3300;
  }

  #contact a[href^="mailto"] {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact a[href^="mailto"]:hover {
    color: #ff5500;
  }

  /* Styling for the contact form */
  #contact form {
    text-align: center;
    margin-top: 20px;
  }

  #contact fieldset {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #contact legend {
    font-size: 24px;
    font-weight: bold;
  }

  #contact label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #contact input[type="submit"] {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  #contact input[type="submit"]:hover {
    background-color: #ff3300;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    font-size: 16px;
  }

  .contact-form input[type="submit"] {
    background-color: #ff5500;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #ff3300;
  }


  footer {
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
}






















@media all and (min-width:730px) and (max-width: 1024px) {
  body>header>nav>div>menu li {
    padding-right: 0.5rem;
  }

  body>header>nav>div>menu li a {
    font-size: 0.9rem;
  }

  body>main>section>section>h1:first-child {
    font-size: 3rem;
  }

  body>main>section>section>h1:nth-child(2) {
    font-size: 2rem;
  }

  body>main>section>section>hgroup {
    font-size: 1.5rem;
    padding-left: 2vh;
    padding-right: 5vw;
  }

  body>main>section>section>img {
    height: 100vh;
  }

  body>main>section:nth-child(2)>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body>main>section:nth-child(2)>section>div>img {
    margin: 100px auto;
  }

  body>main>section:nth-child(2)>section>blockquote>p {
    width: 80%;
    margin: 0 auto;
  }

  body>main>section:nth-child(3)>h1,
  body>main>section:nth-child(4)>h1,
  body>main>section:nth-child(5)>h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .Gallery>div>img,
  .Gallery>aside>div>img {
    width: 90%;
  }

  /* Section 4 styles */
  body>main>section:nth-child(5)>h1 {
    padding: 2.5vh;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff5500;
    height: 10vh;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 5vh;
  }


  .Gallery {
    text-align: center;
  }

  .Gallery h1 {
    padding: 2.5vh;
    background: #ff5500;
    color: rgb(0, 0, 0);
    width: 2;
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item.big {
    grid-column: span 2;
  }

  .grid-item.small {
    grid-column: span 1;
  }

  .Gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }

  /* Image styles */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Contact section styles */
  #contact {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact menu {
    list-style: none;
    padding: 0;
  }

  #contact menu li {
    display: inline;
    margin-right: 10px;
  }

  #contact menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact menu li a:hover {
    color: #ff5500;
  }

  #contact button {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  #contact button:hover {
    background-color: #ff3300;
  }

  #contact a[href^="mailto"] {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  #contact a[href^="mailto"]:hover {
    color: #ff5500;
  }

  /* Styling for the contact form */
  #contact form {
    text-align: center;
    margin-top: 20px;
  }

  #contact fieldset {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  #contact legend {
    font-size: 24px;
    font-weight: bold;
  }

  #contact label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #contact input[type="submit"] {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  #contact input[type="submit"]:hover {
    background-color: #ff3300;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff5500;
    border-radius: 5px;
    font-size: 16px;
  }

  .contact-form input[type="submit"] {
    background-color: #ff5500;
    color: #000000;
    padding: 10px 20px;
    border: none;

    .contact-form input[type="submit"] {
      background-color: #ff5500;
      color: #000000;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }

    .contact-form input[type="submit"]:hover {
      background-color: #ff3300;
    }

    footer {
      background-color: #000;
      padding: 20px;
      color: #fff;
      text-align: center;
    }
  }

}


@media all and (min-width: 1440px) and (max-width: 1560px) {}



