* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #ffffff;
  /* cursor :none; */

}


header {
  background: #ff5500;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  cursor: auto;
}

nav {
  display: inline-block;
  position: relative;

}

body>header>nav>div>menu li {
  display: inline-block;
  padding-right: 1rem;
  list-style-type: none;

}

body>header>nav>div>menu li a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;

}

body>header>nav>div>menu li a:hover {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
  color: #000000;


}

body>header>section>menu {
  margin-right: 0;
}

body>header>section>menu li {
  display: inline-block;
  padding-right: 0;

}

body>main>section>section>hgroup>h3 {
  color: #fff;

}

body>main>section>section>hgroup>h1:first-child {
  color: #fff;
  font-size: 5rem;

}

body>main>section>section>hgroup>h1:nth-child(2) {
  position: relative;
  color: #fff;
  font-size: 3rem;

}

body>main>section>section>hgroup>h3 {
  position: relative;

  color: #fff;
  font-size: 1.5rem;

}

body>main>section>section>hgroup>h3>span {
  color: #ffff00ea;

}


body>main>section>section>hgroup {
  position: relative;
  display: inline-block;
  margin-top: 15vh;
  margin-left: 5vw;
  font-size: 2rem;
  border: #ff5500 solid 2px;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 30vh;
  border-radius: 20px;
  padding-right: 10vw;
}

body>main>section>section>img {
  position: absolute;
  height: 90vh;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-left: 5vw;

}


body>main>section:nth-child(1)>section {
  position: relative;
  height: 90vh;
  background: #000000;

}

body>main>section:nth-child(2)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;


}

body>main>section:nth-child(2) {
  height: 100vh;
}

body>main>section:nth-child(2)>section {
  display: inline-block;
  position: relative;
  background: ;

}

body>main>section:nth-child(2)>section>div>img {
  position: relative;
  display: inline;
  width: 40vw;
  height: auto;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;
  margin-left: 20vw;
  margin-top: 10vh;

}

body>main>section:nth-child(2)>section>blockquote>p {
  display: inline-block;
  position: relative;
  width: 200px;
  text-align: justify;
  border: #fff;
  padding: 5%;
  margin-left: 20%;
  margin-top: 20%;
}



body>main>section:nth-child(3) {
  background: #000000;

}

body>main>section:nth-child(3)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 10vh;

}

.projects>section>div {
  display: inline-block;
}

.projects>section>div>a>p {
display: inline-block;
position: absolute;

}

body>main>section:nth-child(4)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 50px;

}

.skills>section>div>img {
  display: inline-block;
}

body>main>section:nth-child(5)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 5vh;

}

.Gallery>div {
  
}
.Gallery>div>img {
  position: relative;
  display: inline-block;
}
.Gallery>aside>div {
 
  display: inline-block;
}
.Gallery>aside>div>img {
  display: inline-block;
 
}

@media all and (min-width: 520px) and (max-width: 768px) {}




footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
  text-align: center;

}