* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {

  background: #000000;
  color: #ffffff;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Apply styles to the spinner */
.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Use the "spin" animation */
  margin: 20px auto; /* Center the spinner horizontally */
}

::-webkit-scrollbar {
  width: 0px;
}


header {
  background: #ff5500;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 10000;
}

nav {
  display: inline-block;
  position: relative;

}

body>header>nav>div>menu li {
  display: inline-block;
  padding-right: 1rem;
  list-style-type: none;


}

body>header>nav>div>menu li a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
  color: #fcfcfc;
  text-align: center;
  transition: 0.3s;
  padding: 5px;
}

body>header>nav>div>menu li a:hover {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
  color: #000000;
  transition: 0.3s;

}

body>header>section>menu {
  margin-right: 0;

}

body>header>section>menu li {
  display: inline-block;
  padding-right: 0;

}

body>main>section>section>hgroup>h3 {
  color: #fff;

}

body>main>section>section>hgroup>h1:first-child {
  color: #fff;
  font-size: 5rem;

}

body>main>section>section>hgroup>h1:nth-child(2) {
  position: relative;
  color: #fff;
  font-size: 3rem;

}

body>main>section>section>hgroup>h3 {
  position: relative;
  color: #fff;
  font-size: 1.5rem;

}

body>main>section>section>hgroup>h3>span {
  color: #ffff00ea;

}

body>main>section>section>hgroup {
  position: relative;
  display: inline-block;
  margin-top: 15vh;
  margin-left: 5vw;
  font-size: 2rem;
  border: #ff5500 solid 2px;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-bottom: 30vh;
  border-radius: 20px;
  padding-right: 10vw;
}

body>main>section>section>img {
  position: absolute;
  height: 90vh;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-left: 5vw;
  
  background: circle-gradient(to right, transparent, #fffefe, transparent);
}


body>main>section:nth-child(1)>section {
  position: relative;
  height: 100vh;
  background: #000000;
  animation: bounce;
}

body>main>section:nth-child(2)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  
}

body>main>section:nth-child(2) {
  height: 100vh;
}

body>main>section:nth-child(2)>section {
  display: inline-block;
  position: relative;
  

}

body>main>section:nth-child(2)>section>div>img {
  position: relative;
  display: inline;
  width: 40vw;
  height: auto;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;
  margin-left: 20vw;
  margin-top: 10vh;
  
}

body>main>section:nth-child(2)>section>blockquote>p {
  display: inline-block;
  position: relative;
  width: 200px;
  text-align: justify;
  border: #fff;
  padding: 5%;
  margin-left: 0; 
  margin-top: 0; 
  /*  */
}

#projects{
  text-align: center;
}

#projects h1{
  padding: 2.5vh;
  margin-bottom: 10vh;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
}

#projects>section{
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects>section>div{
  margin: 20px;
}

#projects>section>div>a{
  text-decoration: none;
  color: #ffffff;
}

#projects>img:first-child{
  width: 10px;
}

#projects>section>div>a>img{
  max-height: 500px;
}

#projects>section>div>a>p{
  margin-top: 10px;
  font-weight: bold;
}
#projects>section>div>a:hover {
  margin-top: 10px;
  
}

#projects>img{
  max-width: 100px;
  border: #ff5500 solid 5px;
  border-radius: 80px;
}

body>main>section:nth-child(4)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 50px;

}

.skills>section>div>img {
  display: inline-block;
}

body>main>section:nth-child(5)>h1 {
  padding: 2.5vh;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ff5500;
  height: 10vh;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 5vh;

}


.Gallery {
  text-align: center;
  
}

.Gallery h1 {
  padding: 2.5vh;
  background: #ff5500;
  color: rgb(0, 0, 0);
  width: 2;
  margin-left: 0;
  margin-bottom: 10vh;
}

/* Grid container for images */
.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50% width for the first image, 50% for the rest initially */
  gap: 10px; /* Adjust the gap between grid items as needed */
}

/* Grid item styles */
.grid-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specify the width for different images */
.grid-item.big {
  grid-column: span 2; /* Make the first image span two columns (50% width) */
}

.grid-item.small {
  grid-column: span 1; /* Make the next two images span one column each (25% width) */
}
.Gallery img {
  
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}




footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
  text-align: center;

}
@media all and (max-width: 320px){

}

@media all and (min-width: 320px) and (max-width: 375px) {
  body>header>nav>div>menu li {
    padding-right: 0.5rem;
  }

  body>header>nav>div>menu li a {
    font-size: 0.9rem; 
  }

  body>main>section>section>h1:first-child {
    font-size: 3rem;
  }

  body>main>section>section>h1:nth-child(2) {
    font-size: 2rem; 
  }

  body>main>section>section>hgroup {
    font-size: 1.5rem;
    padding-left: 2vh; 
    padding-right: 5vw; 
  }

  body>main>section>section>img {
    height: 60vh; 
  }

  body>main>section:nth-child(2)>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body>main>section:nth-child(2)>section>div>img {
    margin: 0 auto; 
  }

  body>main>section:nth-child(2)>section>blockquote>p {
    width: 80%; 
    margin: 0 auto; 
  }

  body>main>section:nth-child(3)>h1,
  body>main>section:nth-child(4)>h1,
  body>main>section:nth-child(5)>h1 {
    font-size: 2rem; 
    margin-bottom: 20px; 
  }

  .Gallery>div>img,
  .Gallery>aside>div>img {
    width: 90%; 
  }
}



@media all and (min-width: 375px) and (max-width: 425px) {

}


@media all and (min-width: 768px) and (max-width: 1024px) {

}


@media all and (min-width: 1024px) and (max-width: 1440px) {
 
}


@media all and (min-width: 1440px) and (max-width: 1560px) {

}
